<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Docker Manager</title>
    <link
      rel="stylesheet"
      href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.6/theme-chalk/index.css"
    />
    <style>
      html {
        -webkit-text-size-adjust: 100%;
        font-family: Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI,
          Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue,
          Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
          Noto Color Emoji;
        line-height: 1.5;
        tab-size: 4;
      }
      .state-running,
      .state-exited {
        color: white;
        padding: 5px 10px;
        border-radius: 12px;
        display: inline-block;
      }

      .state-running {
        background-color: green;
      }

      .state-exited {
        background-color: red;
      }

      .column-center {
        text-align: center;
        font-weight: bold;
      }

      .loading-mask {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
      }

      .loading-spinner {
        width: 50px;
        height: 50px;
        border: 5px solid #f3f3f3;
        border-top: 5px solid #3498db;
        border-radius: 50%;
        animation: spin 2s linear infinite;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    </style>
  </head>
  <body>
    <div id="app">
      <!-- 添加这个遮罩层 -->
      <div v-if="loading" class="loading-mask">
        <div class="loading-spinner"></div>
      </div>
      <div class="container">
        <h2>Images</h2>
        <el-table :data="images" stripe border style="width: 100%">
          <el-table-column
            prop="Id"
            label="ID"
            :formatter="truncateId"
          ></el-table-column>
          <el-table-column prop="RepoTags" label="Repo Tags"></el-table-column>
          <el-table-column
            prop="Created"
            label="Created"
            :formatter="formatRelativeTime"
          ></el-table-column>
          <el-table-column
            prop="Size"
            label="Size"
            :formatter="formatSized"
          ></el-table-column>
        </el-table>
      </div>

      <div class="container">
        <h2>Containers</h2>
        <el-table
          :data="containers"
          stripe
          border
          style="width: 100%"
          :cell-class-name="setCellClassName"
        >
          <el-table-column
            prop="Id"
            label="ID"
            :formatter="truncateId"
          ></el-table-column>
          <el-table-column prop="Image" label="Image"></el-table-column>
          <el-table-column
            prop="Ports"
            label="Ports"
            :formatter="formatPorts"
          ></el-table-column>
          <el-table-column label="State" width="100" class-name="column-center">
            <template slot-scope="scope">
              <span :class="stateColorClass(scope.row.State)">
                {{ scope.row.State }}
              </span>
            </template>
          </el-table-column>
          <el-table-column prop="Status" label="Status"></el-table-column>
          <el-table-column label="Actions">
            <template slot-scope="scope">
              <el-button
                @click="startContainer(scope.row.Id)"
                type="primary"
                size="mini"
                >Start</el-button
              >
              <el-button
                @click="stopContainer(scope.row.Id)"
                type="danger"
                size="mini"
                >Stop</el-button
              >
              <el-button
                @click="removeContainer(scope.row.Id)"
                type="danger"
                size="mini"
                >Remove</el-button
              >
            </template>
          </el-table-column>
        </el-table>
      </div>
      <h2>Create Nivdia GPU Docker Environment</h2>
      <el-form
        @submit.native.prevent="createAnacondaContainer"
        label-width="120px"
        style="width: 600px"
      >
        <el-form-item label="Jupyter Port:">
          <el-input-number
            v-model.number="jupyterPort"
            min="0"
            max="65535"
            :step="1"
            controls-position="right"
            auto-select
          ></el-input-number>
        </el-form-item>
        <el-form-item label="SSH Port:">
          <el-input-number
            v-model.number="sshPort"
            min="0"
            max="65535"
            :step="1"
            controls-position="right"
            auto-select
          ></el-input-number>
        </el-form-item>
        <el-form-item>
          <el-button
            type="primary"
            :disabled="isCreateButtonDisabled"
            native-type="submit"
            >Create Anaconda Container</el-button
          >
        </el-form-item>
      </el-form>
    </div>

    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.14/vue.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.6/index.js"></script>

    <script>
      new Vue({
        el: "#app",
        data: {
          images: [],
          containers: [],
          jupyterPort: 8888,
          sshPort: 12222,
          loading: false, // 添加这个属性
        },
        computed: {
          isCreateButtonDisabled() {
            // 如果jupyterPort和sshPort都有值，则按钮不禁用；否则，禁用按钮。
            return !this.jupyterPort || !this.sshPort;
          },
        },
        methods: {
          formatSized(row, column) {
            const size = row[column.property];
            const i = Math.floor(Math.log(size) / Math.log(1024));
            return (
              (size / Math.pow(1024, i)).toFixed(2) * 1 +
              " " +
              ["B", "KB", "MB", "GB", "TB"][i]
            );
          },
          formatTimestamp(row, column) {
            const timestamp = row[column.property];
            const date = new Date(timestamp * 1000); // 将时间戳乘以1000，以便将其转换为JavaScript所需的毫秒
            return date.toLocaleString(); // 使用toLocaleString将日期和时间转换为本地格式
          },
          formatRelativeTime(row, column) {
            const timestamp = row[column.property];
            const now = new Date().getTime();
            const seconds = Math.floor((now - timestamp * 1000) / 1000);

            const units = [
              { unit: "year", seconds: 31536000 },
              { unit: "month", seconds: 2592000 },
              { unit: "day", seconds: 86400 },
              { unit: "hour", seconds: 3600 },
              { unit: "minute", seconds: 60 },
              { unit: "second", seconds: 1 },
            ];

            for (const unitInfo of units) {
              if (seconds >= unitInfo.seconds) {
                const count = Math.floor(seconds / unitInfo.seconds);
                return `${count} ${unitInfo.unit}${count > 1 ? "s" : ""} ago`;
              }
            }

            return "just now";
          },
          setCellClassName({ row, rowIndex, columnIndex, column }) {
            if (column.property === "scope") {
              return "column-center";
            }
            return "";
          },
          fetchData(url, callback) {
            fetch(url)
              .then((response) => response.json())
              .then((data) => callback(data))
              .catch((err) => console.error(err));
          },
          truncateId(row, column) {
            let id = row[column.property];
            const length = 12; // 设置截断长度

            if (id.startsWith("sha256:")) {
              id = id.substring(7); // 从第7个字符开始截取（不包含"sha256:"）
            }
            return id.length > length ? id.slice(0, length) : id;
          },
          formatPorts(row, column) {
            const formattedPorts = [];
            const ports = row[column.property];
            ports.forEach((portInfo) => {
              if (portInfo.IP && portInfo.PublicPort) {
                formattedPorts.push(
                  `${portInfo.IP}:${portInfo.PublicPort}->${portInfo.PrivatePort}/${portInfo.Type}`
                );
              } else {
                `${portInfo.PrivatePort}/${portInfo.Type}`;
              }
            });
            return formattedPorts.join(",");
          },
          startContainer(containerID) {
            this.loading = true; // 显示遮罩
            fetch(`/containers/${containerID}/start`, { method: "POST" })
              .then((response) => response.json())
              .then((data) => {
                if (data.error) {
                  alert(`Error starting container: ${data.error}`);
                } else {
                  setTimeout(() => {
                    this.fetchAndUpdateContainers(); // 调用新方法以重新加载数据
                    this.loading = false; // 取消遮罩
                  }, 3000);
                }
              })
              .catch((err) => console.error(err));
          },
          stopContainer(containerID) {
            this.$confirm("Are you sure to stop this container?", "Warning", {
              confirmButtonText: "Yes",
              cancelButtonText: "Cancel",
              type: "warning",
            })
              .then(() => {
                this.loading = true; // 显示遮罩
                fetch(`/containers/${containerID}/stop`, { method: "POST" })
                  .then((response) => response.json())
                  .then((data) => {
                    if (data.error) {
                      alert(`Error stopping container: ${data.error}`);
                    } else {
                      setTimeout(() => {
                        this.fetchAndUpdateContainers(); // 调用新方法以重新加载数据
                        this.loading = false; // 取消遮罩
                      }, 3000);
                    }
                  })
                  .catch((err) => console.error(err));
              })
              .catch(() => {
                this.$message.info("Deletion cancelled");
              });
          },
          removeContainer(containerID) {
            this.$confirm("Are you sure to delete this container?", "Warning", {
              confirmButtonText: "Yes",
              cancelButtonText: "Cancel",
              type: "warning",
            })
              .then(() => {
                this.loading = true; // 显示遮罩
                fetch(`/containers/${containerID}/remove`, { method: "POST" })
                  .then((response) => response.json())
                  .then((data) => {
                    if (data.error) {
                      alert(`Error removing container: ${data.error}`);
                    } else {
                      setTimeout(() => {
                        this.fetchAndUpdateContainers(); // 调用新方法以重新加载数据
                        this.loading = false; // 取消遮罩
                      }, 1000);
                    }
                  })
                  .catch((err) => console.error(err));
              })
              .catch(() => {
                this.$message.info("Deletion cancelled");
              });
          },
          // 添加一个新方法用于获取并更新容器列表
          fetchAndUpdateContainers() {
            this.fetchData("/containers", (containers) => {
              this.containers = containers;
            });
          },
          createAnacondaContainer() {
            this.loading = true; // 显示遮罩

            const jupyterPort = this.jupyterPort;
            const sshPort = this.sshPort;

            fetch("/create_anaconda_container", {
              method: "POST",
              headers: {
                "Content-Type": "application/x-www-form-urlencoded",
              },
              body: new URLSearchParams({
                jupyter_port: jupyterPort,
                ssh_port: sshPort,
              }),
            })
              .then((response) => {
                if (response.ok) {
                  return response.json();
                } else {
                  // 根据错误信息的格式选择 response.text() 或 response.json()
                  return response.json().then((errorJson) => {
                    throw new Error(` ${errorJson.error}`);
                  });
                }
              })
              .then((data) => {
                this.$alert("Anaconda container created", "Infomation", {
                  confirmButtonText: "Ok",
                });
                setTimeout(() => {
                  this.fetchAndUpdateContainers(); // 调用新方法以重新加载数据
                  this.loading = false; // 取消遮罩
                }, 3000);
              })
              .catch((error) => {
                console.error("Error:", error);
                this.$alert(error, "Infomation", {
                  confirmButtonText: "Ok",
                  callback: (action) => {
                    this.fetchAndUpdateContainers(); // 调用新方法以重新加载数据
                    this.loading = false; // 取消遮罩
                  },
                });
              });
          },
          stateColorClass(state) {
            return state === "running" ? "state-running" : "state-exited";
          },
        },
        created() {
          console.log("Vue instance is mounted.");
          this.fetchData("/images", (images) => {
            this.images = images;
          });
          this.fetchData("/containers", (containers) => {
            this.containers = containers;
          });
        },
      });
    </script>
  </body>
</html>
